.footer {
  background-color: #000;
  color: #fff;
  padding: 30px 60px;
  font-family: "Poppins", sans-serif;
  width: 100vw;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.newsletter h3 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
}

.newsletter p {
  font-size: 13px;
  color: #ccc;
  margin-bottom: 15px;
}

.subscribe {
  display: flex;
  gap: 10px;
}

.subscribe input {
  padding: 10px;
  width: 250px;
  border: none;
  outline: none;
  background: #fff;
  color: #000;
  border-radius: 2px;
}

.subscribe button {
  background: transparent;
  border: 2px solid #5b5a5a;
  border-radius: 5px;
  color: #565555;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s;

}

.subscribe button:hover {
  background: #fff;
  color: #000;
}


.contact-info h4 {
  font-size: 13px;
  font-weight: 700;
  margin-bottom: 5px;
}

small {
  color: #aaa;
  font-size: 11px;
}
.usa-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

.divider {
  border: 0;
  border-top: 1px solid #333;
  margin: 30px 0;
}

.usa-container img {
  width: 30px;
  height: 30px;
  border-radius: 50px;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-sub-bottom{
    display: flex;
    width: 50vw;
}

.footer-column{
    width: 30vw;
}

.footer-column h4 {
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
  font-size: 13px;
  color: #ccc;
}

.footer-column li {
  margin-bottom: 6px;
  cursor: pointer;
}

.footer-column li:hover {
  text-decoration: underline;
}

.payment-icons img{
    width: 30px;
    height: 20px;
    border-radius: 5px;
}



.social-icons-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}

.social-icons {
    border: 2px solid white;
    border-radius: 50px;
    padding: 3px;
    width: 30px;
    height: 30px;
}
.payment-icons {
  display: flex;
  gap: 10px;
  font-size: 26px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #888;
  padding-top: 10px;
}

.icons-bg-color{
  color: white;
}


.contact-block small{
    font-size: 15px;
    
}

.mobile-v-container{
 display: none;
}

.mobile-flex{
    display: flex;
    justify-content: space-between;
}

/* Responsive */
@media (max-width: 768px) {
  .footer {
    padding: 30px 20px;
  }

  .desk-media{
    display: none;
  }

.mobile-v-container{
    display: block;
}
  .footer-bottom {
    flex-direction: column;
  }

  .footer-top{
    display: flex;
    flex-direction: column;
  }

  .subscribe {
    flex-direction: column;
  }

  .subscribe input {
    width: 100%;
  }

  .subscribe button {
    width: 100%;

  }
}
